Currently, CVP has the following EOS images loaded:
{# list the EOS images in CVP here #}
{% for image in images -%}
- {{ image['imageFileName'] }}
{% endfor%}

There are currently {{ containers | length }} provisioning containers in the system:
{# list the containers in CVP here #}
{% for container in containers -%}
- {{ container['Name'] }}
{% endfor%}